<main>
    <div class="content">
        <p>Node.js&reg;는 Chrome V8 JavaScript 엔진으로 빌드된 JavaScript 런타임이다.</p>
        <p>Node.js를 이용하면 비동기 이벤트 주도 방식으로 확장성있는 네트워크 애플리케이션을 만들 수 있다.</p>
        <p>현재 구동되는 Node.js 버전은 {{version}}이다.</p>
    </div>
    <img src="images/computer.jpg" />
</main>
