<header>
    <div class="title">Node Tutorial</div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs">Blog list</a></li>
        </ul>
    </nav>
</header>
